.hp {
    background-image: url("./images/hp.jpg");
    background-position: center;
    width: 100vw;
    height:100vh;
}

.bottom {
    margin: 20px;
    position: absolute;
    font-family: century-gothic,sans-serif;
    font-weight: 400;
    font-style: normal;
    bottom: 0;
    width: 98vw;
    height: 200px;
}

.intro {

    display: inline;
    float: left;
    color: rgb(238, 238, 238);
    font-size: 30px;
    width: 500px;
    line-height: 1.5em;
    margin-left: 25px;

}

.location-span {

    position: absolute;
    right:60px;
    bottom: 25px;
    float: right;
    color:rgb(192, 192, 192);

}

.middle {
    clear: both;
    display: flex;
    justify-content: center;
}

.middle form {
    position: absolute;
    top: 250px;
}

.middle input {
    width: 500px;
    height: 50px;
    border: 1px rgb(83,166,228) solid;
    background-color: rgb(83,166,228, 0.1);
    border-radius: 10px 0 0 10px;
    font-size: 20px;
    padding: 0 0 0 10px;
    color:white;
}

.middle input::placeholder {
    color:rgb(255, 255, 255, 0.5);
}

.middle form button {
    width: 75px;
    height: 52px;
    border: none;
    border-radius: 0 10px 10px 0;
    color:white;
    background-color: rgb(83,166,228);
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s background-color ease;

}

@media screen and  (max-width: 675px) {
    .middle input{
        width: 80vw;
        height: 6vh;
    }
    .middle form button {
    height: 6.2vh;

    }
    .bottom {
        height: 350px;
    }
}