.TripSearch {

    background-color: rgb(99, 99, 99);
    height: 100vh;

}

.search-content {
    clear:both;
    background-color: white;
    height:100vh;
    margin: 20px;
}

.left-sidebar{

    display: inline;
    float: left;
    width: 25%;

}
.left-sidebar section {
    margin-bottom: 50px;
}
.left-sidebar label {
    display: block;
}

.value {
    display: inline;
}

.right-sidebar {

    display: inline;
    float: left;
    width: 75%;

}